:root {
  font-family: monospace;
  font-size: 24px;
}

table {
  border-collapse: collapse;
}

table td, table th {
  padding: 10px 20px;
  text-align: center;
}

table th:first-child {
  text-align: left;
}

input[type="text"] {
  width: 320px;
  font-family: monospace;
  font-size: 24px;
}

table td:has(input[type="checkbox"]) {
  font-size: 0;
}
